<h2> Book name</h2>
<p>
  Book description <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque mollitia numquam ipsum, veritatis amet minima provident recusandae maiores sed alias officiis inventore nisi quasi veniam facere culpa excepturi rem quos?
</p>
 <app-chapter [desc]="chapterDesc">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque mollitia numquam ipsum, veritatis amet minima provident recusandae maiores sed alias officiis inventore nisi quasi veniam facere culpa excepturi rem quos? 
 </app-chapter>
 <button (click)="chapterDesc = 'hello'">click</button>
 <button (click)="chapterDesc = 'hello'">click</button>
 <button (click)="sendMessage()">MSG</button>
 
 <!-- text
<app-chapter [desc]="getDesc()"></app-chapter>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere officiis dolore in, doloremque quos sed iusto a incidunt numquam fugit facilis suscipit deleniti veritatis ducimus magnam voluptas excepturi ipsum. Numquam!</p>
<app-chapter [desc]="'2222'">
<app-chapter></app-chapter>
</app-chapter> 
<app-counter (result)="showResult($event)" [name]="'First Counter'"></app-counter>
<app-counter (result)="showResult($event)" [name]="'Second Counter'" [counterValue]="10"></app-counter>
<app-counter (result)="showResult($event)" [step]="5"></app-counter> -->
